section.main__activities.activities
    div.container.justify-content.main__activities-wrapper
        div.activities__aside
            h2.activities__title Work principles
            div.circle-block
                div.circle.circle--small
                div.waves-block
                    div.wave
                    div.wave
                div.waves-block
                    div.wave
                    div.wave
                    div.wave
                    div.wave
                    div.wave
                    div.wave
                    div.wave
                    div.wave
                div.waves-block
                    div.wave
                    div.wave
        ul.steps.gsap-moving-right
            li.steps__item
                div.steps__title
                    div.wave
                    h3 Research
                p.steps__text When a problem is clear I'll research users and best design practices.<br/> If problems are unclear, I'll research the company to write a realistic and positive design brief.
            li.steps__item
                div.steps__title
                    div.wave
                    h3 Planning
                p.steps__text After research, I'll set the information architecture and present it in wireframes.
            li.steps__item
                div.steps__title
                    div.wave
                    h3 Design
                p.steps__text I can do the visual design myself and create interactive prototypes (the most fun part).