section.main__activities.activities
    div.container
        h2.activities__title What can I do for you
        ul.steps
            li.steps__item
                h3.steps__title Research
                p.steps__text When a problem is clear I'll research users and best design practices.<br/> If problems are unclear, I'll research the company to write a realistic and positive design brief.
            li.steps__item
                h3.steps__title Planning
                p.steps__text After research, I'll set the information architecture and present it in wireframes.
            li.steps__item
                h3.steps__title Design
                p.steps__text I can do the visual design myself and create interactive prototypes (the most fun part).