section.bio
    div.bio__image
        h2 Viktoriia Shchus
        picture
    div.bio__text
        p I am a creative and ambitious UX/UI Designer with a talent of thinking outside the box and coming up with innovative ideas and designs. I have a clear, logical mind with a practical approach to problem-solving and a drive to see things through to completion. Furthermore, I have half a year of experience in design development and UX research across multiple sectors.
        p Would you like say Hi? I’m on Email, Linkedin, Behance, Dribbble.