section.bio(id='about')
    div.container.justify-start
        div.bio__image
            div.circle
                div.wave-block
                    div.wave
                    div.wave
                div.wave-block
                    div.wave
                    div.wave
            img(src="./assets/images/resume.jpeg" alt='photo')
        div.bio__text
            p Hey there, my name is Viktoriia. I’m a UX/UI designer from Kyiv, Ukraine focused on web/mobile app.

            p I am passionate about creating products with a strong visual identity. It helps digital brands and companies move to the next level and increase user engagement.

            p I strive to create a simple, target audience-oriented, and scalable product experience.  As for UX, I do my best to analyze best practices in order to tune them for target audience.

            p More details about my profession skills and work experience you can read in my <a class="resume" href="./assets/files/resume.pdf" target="_blank">Resume</a>
