section.bio
    div.container.justify-content
        div.bio__image
            h2.bio__image-desc Viktoriia Shchus
            object(data="./assets/images/img.vitvik.ph.jpg")
        div.bio__text
            p.bio__summary I am a creative and ambitious UX/UI Designer with a talent of thinking outside the box and coming up with innovative ideas and designs. I have a clear, logical mind with a practical approach to problem-solving and a drive to see things through to completion. Furthermore, I have half a year of experience in design development and UX research across multiple sectors.
            p.bio__contact Would you like say Hi? I’m on Email, Linkedin, Behance, Dribbble.