section(id='contact').contact
        div.summary
            div.container
                p.summary__label Drop a message to
                a.summary__title(href='mailto:shchusvika@gmail.com' target="_blank") shchusvika@gmail.com
        div.summary
            div.container
                p.summary__label Click the link
                a.summary__title(href='https://www.linkedin.com/in/viktoriia-shchus-4a688018b/' target="_blank") Linkedin

