section.goal
    div.container.justify-content
        div.goal__desc
            h2 My goal in work
            p.bigger Satisfied users
            p Every person who comes to the site is an opportunity for your business, but you have seconds to impress them. You have about 8 seconds to grab the attention of users with a catchy headline and an attractive landing page. You can keep the user by solving a specific problem with which he came to the site.
        div.goal__figures
            div.circle.circle--green
                div UX
            div.circle--between
            div.circle.circle--small
            div.circle.circle--transparent
                div UI