section.goal
    div.container.justify-content
        div.goal__desc
            h2 My goal in work
            p It can draw customers, convince them to use your product, become loyal to your brand and even persuade them to buy the next versions of your product. Good UI means opportunity when it comes to business as well.
        div.goal__figures
            div.circle.circle--green
                div UX
            div.circle.circle--small
            div.circle.circle--transparent
                div UI