header.page-header
    div.page-header__logo.logo
        i.logo__icon
        span.logo__text UX/UI designer 
    nav.page-header__nav.menu
        a.menu__link Home
        a.menu__link Home
        a.menu__link Home
        a.menu__link Home