header.page-header
    div.container.justify-content
        div.page-header__logo.logo
            i.logo__icon
            p.logo__text UX/UI
            p.logo__subtext designer
        nav.page-header__nav.menu
            a.menu__link(href="/") Home
            a.menu__link(href="/works") Works
            a.menu__link(href="./assets/resume.pdf download") Resume
            a.menu__link(href="./contact") Contact