header.page-header
    div.container.justify-content
        div.page-header__logo.logo
            img.logo__icon(src="./assets/images/icon-main.svg")
            div
                p.logo__text UX/UI
                p.logo__subtext designer
        nav.page-header__nav.menu
            a.menu__link(href="./") Home
            a.menu__link(href="./works.html") Works
            a.menu__link(href="./assets/files/resume.pdf") Resume
            a.menu__link(href="./contact.html") Contact