header.page-header
    div.container.justify-content.container--header
        a(href='./')
            span.page-header__logo.logo
                img.logo__icon(src="./assets/images/icon-main.svg")
                div
                    p.logo__text UX/UI
                    p.logo__subtext designer
        nav.page-header__nav.menu
            a.menu__link.animation-wave(href="./" target="_blank") Home
            a.menu__link.animation-wave(href="./works.html" target="_blank") Works
            a.menu__link.animation-wave(href="./assets/files/resume.pdf" target="_blank") Resume
            a.menu__link.animation-wave(href="./contact.html" target="_blank") Contact