div.banner
    p.banner__text Hi, I’m Viktoriia UX/UI designer focused on web  applications and product pages
    div.banner__figure
      div.banner__figure-main
      div.banner__figure-secondary
          div.wave-block
            div.wave
            div.wave
            div.wave
            div.wave
          //div.wave-block.half
          //  div.wave
          //  div.wave


