section.project__testemonials.testemonials
    p.testemonials__quote=project.testimonials.quote
    a.testemonials__author(href=`${project.testimonials.authorLink}` target="_blank")=project.testimonials.author