section.project__about.project__about--secondary.about
    div.container.justify-content
        h2.about__title=project.aboutSecondary.title
        div.about__text.gsap-moving-corner
            each text in project.aboutSecondary.text
                p=text