.banner{
  position: relative;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  height: 15em;

  & div {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 32s linear infinite;
  }

  & h1 {
    float: left;
  }

}
@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}