.contact{
  padding: 90px 0;
  background-color: $color-bg-secondary;
  .summary{
    padding:20px 0;
  }

  & .summary__title{
    font-family: $font-family-main;
    font-size: 6.5em;
    color: $color-secondary;

    &:hover{
      color: $color-primary;
    }
  }

  & .summary__label{
    font-size: 18px;
  }
}