.container{
  max-width: 1032px;
  width: 90%;
  margin: 0 auto;

  &--header{
    padding: 2.7em 0 1.7em;
  }
}

.justify-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.justify-start{
  display: flex;
  justify-content: flex-start;
}

.justify-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap{
  flex-wrap: wrap;
}

.flex-after{
  &::after {
    content: '';
  }
}

.no-wrap{
  flex-wrap: nowrap;
}

.page-header{
  display: flex;
  justify-content: space-between;

  &__nav{
    display: inline-block;
    font-size: 14px;
  }

  &__logo{
    font-size: 24px;
  }
}

.menu {
  &__link {
    padding: 1.5em;
    line-height: 2em;
  }
  &__link:last-child{
    padding-right: 0;
  }
}

.main__activities{
  padding-bottom: 2em;
}
