.project{
  & a:hover {
    color: #FFB803
  }
  &__gallery{
    width: 100%;
    text-align: center;
    padding: 2.5em;
    background: var(--main-color);
    color: $color-text-light;
    font-size: 1.25em;
    line-height: 4em;
  }

  &__gallery > *{
    width: 50%;
  }

  &__gallery--secondary{
    background: var(--secondary-color);
  }

  &__hero{
    width: 100%;
    min-height: 545px;
    background-image: var(--hero-img-url);
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__activities{
    padding: 7em 0 9em;
    letter-spacing: 0.015em;
  }

  &__activities .activities__title{
    margin: 0 0 2em;
    text-align: left;
  }

  &__prototype {
    padding: 10em 0 6em;
  }
}

.summary{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6em 0 12em;

  &__title{
    font-size: 92px;
    letter-spacing: 0.015em;
    font-weight: bold;
    text-transform: none;
  }
  &__subtitle{
    font-size: 32px;
    letter-spacing: 0.01em;
  }

  &__lists{
    text-align: right;
  }


  &__list-item{
    line-height: 2;
  }

  &__list-item--link{
    text-decoration: underline;
  }
}

.about{
  padding: 22em 0 11em;

  &__title{
    max-width: 35%;
    font-size: 32px;
    align-self: flex-start;
  }

  &__text{
    line-height: 2;
    max-width: 420px;

  }
}

.next{
  height: 100vh;
  background: var(--next-color);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  &__title{
    text-transform: none;
    @include stroke(1, $color-text-light );
    line-height: 1.5;
    letter-spacing: 0.015em;
    font-size: 10em;
    font-weight: normal;
    font-family: $font-family-main;
    pointer-events: visible;
  }

  &__title span{
    color: var(--next-color);
  }

  &__title:hover{
    color: inherit;
  }

  &__subtitle{
    color: $color-text-light;
  }
}

.testemonials{
  width: 100%;
  padding: 13em 0;
  background: var(--main-color);
  color: $color-text-light;
  font-size: 1em;
  line-height: 1.75;
  letter-spacing: 0.015em;

  &__quote,
  &__author{
    display: block;
    max-width: 330px;
    margin: 10px auto;

  }
  &__author{
    text-decoration: underline;
  }
}

.bullet-points{
  padding: 5em;

  &__title{
    width: 100%;
    margin: 1em auto;
    font-family: $font-family-main;
    font-weight: bold;
    font-size: 3em;
  }

  &__icons{
    width: 75%;
    margin: 2em auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
