.homepage {
  .page-header {
    background-color: $color-primary;
  }

  .menu {
    color: $color-bg-main;
  }

  .logo {
    color: $color-text-light;
  }

  #icon-main {
    width: 17.5px;
    height: 17.5px;

    #rect {
      fill: #F6F6F6;
    }
  }

  .animation-wave:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23f5f5f5' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  }
}


.lexi {
  .project__gallery > img {
    margin-top: 2em;
    width: 40%;
  }
}

.np {
  .about {
    padding-bottom: 14em;
  }

  .project__gallery {
    margin-bottom: 5em;
  }

  .project__gallery--secondary > :last-child {
    width: 80%;
    padding-bottom: 2em;
  }

  .project__gallery > * {
    margin: 0 auto;
    width: 86%;
  }
}

.sos {

  .project__hero {
    background-position: center center;

  }

  .project__gallery {
    margin-bottom: 4em;

    & > img {
      margin-top: 2em;
      width: 40%;
    }
  }

  .bullet-points {
    padding: 9em 4em;
  }

  .project__about--secondary {
    padding: 13em 0 22em;
  }

}

.wave {
  .project__gallery {
    padding: 6em 0;
  }

  .project__gallery > * {
    margin: 0 auto;
    width: 72%;
  }

  .project__about--secondary {
    padding: 19em 0 20em;
  }

  .testemonials {
    padding: 11em 0;
  }

  .project__prototype {
    padding: 8em 0 11em;
  }

  .about{
    .about__text{
      p:nth-child(2){
        width: 425px;
      }
    }
  }

}

.tours {
  .project__gallery {
    padding: 6em 0;
    margin-bottom: 6em;
  }

  .project__gallery--secondary {
    margin-bottom: 5em;
  }

  .project__gallery > * {
    margin: 0 auto;
    width: 72%;
  }

  .testemonials {
    padding: 12em 0;
  }

  .project__prototype {
    padding: 9em 0 4em;
  }
}