.steps {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  line-height: 1.5;

  &__item {
    flex-basis: 330px;
  }

  &__text {
    font-size: 14px;
    line-height: 1.75;
    letter-spacing: 0.015em;
    text-align: left;
    margin-bottom: 10px;
  }

  &__text :first-child{
    font-weight: bold;
  }

  &__title {
    position: relative;
    box-shadow: 0 22px 42px rgba(33, 33, 33, 0.05);
    padding: 27px 8px 8px;
    margin-bottom: 1.5em;
    font-family: $font-family-secondary;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 25px;
    z-index: 2;
  }

  &__item:first-child .steps__title{
    text-align: right;
  }

  &__item:last-child .steps__title{
    text-align: left;
  }
}

.activities{

  &__title{
    text-align: center;
    max-width: 680px;
    margin: 0 auto 1.85em;
    font-family: $font-family-main;
    font-size: 32px;
  }
}

