$color-text-dark: #323232;
$color-text-main: #283D3B;
$color-text-light: #F6F6F6;
$color-bg-main: #F6F6F6;
$color-bg-secondary: #EDDDD4;
$color-primary: #197278;
$color-secondary: #E24E27;

$colors-projects: (
        lexi: #0F6A79,
        np: #E24E27,
        '112':#D93636,
        waveBox:#B7099E,
        tours:#FF9900,
);

$font-family-main: 'Noto Sans';
$font-family-secondary: Poppins;


