$color-text-dark: #323232;
$color-text-light: #FBFBFB;
$color-bg-main: #FBFBFB;

$colors-projects: (
        lexi: #0F6A79,
        np: #E24E27,
        '112':#D93636,
        waveBox:#B7099E,
        tours:#FF9900,
);

$font-family-main: Playfair Display;
$font-family-secondary: Poppins;


