.works {
  margin: 4em 0;

  &__block{
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 330px;
    height: 445px;
    margin: 2em 0;
    box-shadow: 0 22px 42px rgba(43, 43, 43, 0.07);
  }

  &__desc {
    text-align: left;
  }

  &__date {
    font-size: 0.85em;
    line-height: 2;
    color: #D9D9D9;
  }

  &__title {
    display: block;
    text-decoration: underline;
    font-family: $font-family-main;
    font-size: 1.25em;
    line-height: 2;
  }
}

.lexi-bg {
  background: linear-gradient(180deg, #009999 0%, #0F6A79 50%), #0F6A79;
}

.np-bg {
  background: url('../images/polka-dot.png') $color-bg-main;
  background-repeat: no-repeat;
  background-position: top center;
}

.sos-bg {
  background: linear-gradient(180deg, #E24E27 0%, #C10707 50%), #D93636;
}

.wave-box-bg {
  position: relative;
  width: 400px;
  height: 400px;
  background: linear-gradient(180deg, rgba(169, 34, 150, 0.31) 53.12%, #990383 100%), #B7099E;
  border-radius: 50%;
  margin: unset;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 166px;
    height: 166px;
    background: #F4F4F4;
  }
}

.tours-bg {
  position: relative;
  background: linear-gradient(180deg, rgba(87, 63, 27, 0) 33.33%, rgba(145, 95, 58, 0.28) 100%), #F5F5F5;
  background-position: bottom;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    width: 328px;
    height: 328px;
    top: -45%;
    border-radius: 50%;
    background: #FF9900;
  }

  & img {
    z-index: 2;
  }
}