- let pageTitle = 'My portfolio: Contacts';


DOCTYPE(html)
html(lang="en")
head
    include ../templates/head
body
    include ../templates/header
    main(id='content').contact
        section.summary
            div.container
                p.summary__label Contact me for collab
                h1.summary__title shchusvika@gmail.com
        section.footer
            div.container.justify-start
                a.footer__link(href='https://www.linkedin.com/in/viktoriia-shchus-4a688018b/' target="_blank") Linkedin
                a.footer__link(href="https://dribbble.com/VitVika" target="_blank") Dribbble
                a.footer__link(href="https://www.behance.net/vikshchus" target="_blank") Behance


