-let pageTitle = 'My portfolio';
-let bannerTitle = 'Portfolio Portfolio Portfolio';

DOCTYPE(html)
html(lang="en")
head
    include ../templates/head
body
    include ../templates/header
    main(id='content')
        include ../templates/hero
        include ../templates/bio
        include ../templates/activities


