-let pageTitle = 'My portfolio';
-let is_homepage = true;
doctype html
html
    head
        include ../templates/head
    body.homepage
            include ../templates/header
            main(id='content')
                include ../templates/hero
                include ../templates/bio
                include ../templates/goal
                include ../templates/activities
                include ../templates/works
                include ../templates/contact


