-let pageTitle = 'My portfolio: Works';
-let bannerTitle = ` Works works works works works works works works works works`;

DOCTYPE(html)
html(lang="en")
head
    include ../templates/head.pug
body
    include ../templates/header
    main(id='content')
        include ../templates/hero
        section.works
            div.container.justify-content.wrap
                div.works__block
                    a.works__item.lexi-bg(href="./lexi.html")
                        img(src='./assets/images/icon-lexi.svg' alt='icon of project')
                    div.works__desc
                        time.works__date(datetime="2020") 2020
                        a.works__title(href="./lexi.html") “Lexi” - mobile application
                div.works__block
                    a.works__item.np-bg(href="./np.html")
                        img.icon(src='./assets/images/icon-np.svg' alt='icon of project')
                        img(src='./assets/images/img.Novaposhta.6.png' alt='people are delivering')
                    div.works__desc
                        time.works__date(datetime="2019")  2019
                        a.works__title(href="./np.html") Redesign website Nova Poshta
                div.works__block
                    a.works__item.sos-bg(href="./sos.html")
                        img(src='./assets/images/icon-112.svg' alt='icon of project')
                    div.works__desc
                        time.works__date(datetime="2019")  2019-2020
                        a.works__title(href="./sos.html") Amergency application  “112”
                div.works__block.padding-left
                    a.works__item.wave-box-bg(href="./wave-box.html")
                        img(src='./assets/images/icon-wave-box.svg')
                    div.works__desc
                        time.works__date(datetime="2020")  2020
                        a.works__title(href="./wave-box.html") Website for vitamine
                div.works__block
                    a.works__item.tours-bg(href="./tours.html")
                        img(src='./assets/images/img.Svoboda.1.png')
                    div.works__desc
                        time.works__date(datetime="2020")  2020
                        a.works__title(href="./tours.html") Website for Travel Agency
